/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   body {
	background-image: url(../IMG/marvel1AMP.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#barranavegacion{
    color: white;
	background-color: rgb(14, 20, 87);
}
#logo {
	height: 30px;
	width: 30px;
}
#drop {
	background-color: red;
}
#central {
	color: white;
	background-color:rgba(14, 20, 87, 0.88);
	
}

#imagen {
	top: 100px;
	height: 300px;
}

.my-6{
	margin-top:90px;
	margin-bottom:90px;
}
.img1 {
	background-image: url(../img/capitanamerica.jpg);
	height: 100px;
}

/*
	Superheros data
*/

.superName{
    height: 80px;
}

.superheroData{
    display:none;
}

.superhero {
    text-align: center;
    border: 2px solid #000000;
    padding-bottom: 30px; 
    background-color:#484848;
}

/*
No funciona despues de hacer el primer click
.superhero:hover{
     background-color:#484848;
     border: 50px;
  
}*/

.superheroData{
	background-color:#666666;
}
















